body {
    background-color: #343a40;
    color: white;
}

.container {
    margin-top: 50px;
}

.form-container {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.chart-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container {
    margin-top: 20px;
}
